@model ButtonsPartialViewModel


<td>
    <a  asp-action="@Model.ActionName" asp-route-Id="@Model.Id" class="btn btn-warning">
        <i class="fas fa-eye"></i> Details
    </a>
</td>
<td>
    <a asp-action="Edit" asp-route-Id="@Model.Id" class="btn btn-success">
        <i class="fas fa-edit"></i> Update
    </a>
</td>
