@model Department
@{
    ViewData["Title"] = "Create";
    string ActionName = "Create";
}

<h1 class="mb-3">Create Department</h1>



<form asp-action="Create" method="post">

    <partial name="PartialViews/Partial" model="new DepartmentEditCreateDetailsModel ( @Model, ActionName)"></partial>

</form>


@section ScriptValidationSection {

    <partial name="_ValidationScriptsPartial"></partial>

}