@model Department
@{
    ViewData["Title"] = "Department Details";
    string ActionName = "Edit";
}

<h1 class="mb-3">Department Details</h1>

<form asp-action="Edit" asp-route-id="@Model.Id" method="get">

    <partial name="PartialViews/DepartmentEditCreateDetailsPartial" model="new DepartmentEditCreateDetailsModel ( @Model, ActionName)"></partial>

</form>


@section readonlyActivate {
    <partial name="_ReadOnlyScriptPartial"></partial>

}


