@model Department
@{
    ViewData["Title"] = "Edit";
    string ActionName = "Save";
}

<h1 class="mb-2">Edit Department</h1>

<form asp-action="Edit">

    <partial name="PartialViews/DepartmentEditCreateDetailsPartial" model="new DepartmentEditCreateDetailsModel ( @Model, ActionName)"></partial>

</form>


@section ScriptValidationSection {

    <partial name="_ValidationScriptsPartial"></partial>

}