@model Employee
@{
    ViewData["Title"] = "Create";
    string ActionName = "Create";

}

<h1>Create Employee</h1>


<form asp-action="Create" method="post">

    <partial name="PartialViews/EmployeeEditCreateDetailsPartial" model="new EmployeeEditCreateDetailsModel ( @Model, ActionName)"></partial>

</form>




@section ScriptValidationSection {

    <partial name="_ValidationScriptsPartial"></partial>

}